* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Linear';
}

.container {
    width: 1160px;
    margin: 0 auto;
}
.container-2 {
    width: 1360px;
    margin: 0 auto;
}
body {
    background: #F8FFFC;
}